body.dark {
    --background-color: #121212;
    --container-color: #181818;
    --primary-color: #eeeeee;
    --secondary-color: #b3b3b3;
    --selection-color: #282828;
}

body.light {
    --background-color: #eeeeee;
    --container-color: #dee4e7;
    --primary-color: #222222;
    --secondary-color: #444444;
    --selection-color: #cfb8dc;
}